
@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes slideText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-slideText {
  animation: slideText 10s linear infinite; /* Adjust duration as needed */
}
