/* Import Tailwind CSS styles or define your own styles */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.sliding-text-container {
  /* overflow: hidden; */
}

.sliding-text {
  white-space: nowrap;
  animation: slideText 12s linear infinite; /* Adjust duration as needed */
}

@keyframes slideText {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(-50%);
  }
}
